{% extends 'header.html' %}

{% block signupcss %}
<style>
    .form-container {
        max-width: 400px;
        margin: 0 auto;
    }
    body {
            padding-top: 56px; /* Adjusted for the fixed navbar height */
            background: hsla(50, 90%, 88%, 1);

            background: linear-gradient(315deg, hsla(50, 90%, 88%, 1) 0%, hsla(335, 93%, 68%, 1) 50%, hsla(252, 89%, 78%, 1) 100%);

            background: -moz-linear-gradient(315deg, hsla(50, 90%, 88%, 1) 0%, hsla(335, 93%, 68%, 1) 50%, hsla(252, 89%, 78%, 1) 100%);

            background: -webkit-linear-gradient(315deg, hsla(50, 90%, 88%, 1) 0%, hsla(335, 93%, 68%, 1) 50%, hsla(252, 89%, 78%, 1) 100%);

            filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FCF3C4", endColorstr="#F962A0", GradientType=1 );
        }
    

    
</style>
{% endblock signupcss %}

{% block signup %}
<div class="container mt-5 form-container">
    <form method="POST" action="{{ url_for('signup') }}">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <h2 class="text-center mb-4">Sign Up</h2>

        <div class="form-group">
            <label for="{{ form.userName.id }}">Name</label>
            {{ form.userName(class="form-control", placeholder="Enter your name", required="required") }}
        </div> <br>

        <div class="form-group">
            <label for="{{ form.email.id }}">Email</label>
            {{ form.email(class="form-control", placeholder="Enter your email", required="required") }}
        </div> <br>

        <div class="form-group">
            <label for="{{ form.password.id }}">Password</label>
            {{ form.password(class="form-control", placeholder="Enter your password", required="required") }}
        </div> <br>

        <div class="form-group">
            <label for="{{ form.confpassword.id }}">Confirm Password</label>
            {{ form.confpassword(class="form-control", placeholder="Confirm your password", required="required") }}
        </div> <br>

        {{ form.submit(class="btn btn-primary btn-block") }}
    </form>
</div>
{% endblock signup %}