{% extends 'header.html' %}

{% block detailscss %}
<style>
    body {
        padding-top: 56px; /* Adjusted for the fixed navbar height */
    }

    .form-container {
    display: flex;
    justify-content: space-evenly;
    width: 75%;
    margin: 0 auto;
    }

.form {

  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 15px;
  width: 30%;
}

/* Media Query for responsiveness */
@media screen and (max-width: 950px) {
    .form-container {
        width: 90%; /* Adjust as needed */
    }

    .form {
        width: 45%; /* Adjust as needed */
    }
}

</style>
{% endblock detailscss %}

{% block details %}
<h6>YOUR WEDDING ID: {{wedding_id[0]}}</h6>
<h6>YOUR WEBSITE URL: <a href="http://{{domain}}/{{userid}}" target="_blank"> Click Here</a></h6>

<div class="form-container">
    <form method="POST" action="{{ url_for('create') }}" class="form">
        {{ form.hidden_tag() }}

        <h2 class="text-center mb-4">Wedding Details</h2>

        <div class="form-group">
            {{ form.theme.label(class="form-label") }}
            {% if theme %}
            {{ form.theme(class="form-control") }}
            <small>{{theme}} active</small>
            {% else %}
            {{ form.theme(class="form-control") }}
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.grooms_name.label(class="form-label") }}
            {% if grooms_name %}
            {{ form.grooms_name(class="form-control", placeholder="Enter groom's name", value=grooms_name) }}
            
            {% else %}
            {{ form.grooms_name(class="form-control", placeholder="Enter groom's name") }}
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.brides_name.label(class="form-label") }}
            {% if brides_name %}
            {{ form.brides_name(class="form-control", placeholder="Enter bride's name", value=brides_name) }}
            
            {% else %}
            {{ form.brides_name(class="form-control", placeholder="Enter bride's name") }}
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.wedding_date.label(class="form-label") }}
            {% if wedding_date %}
            {{ form.wedding_date(class="form-control datepicker", placeholder="Select wedding date", value=wedding_date) }}
            {% else %}
            {{ form.wedding_date(class="form-control datepicker", placeholder="Select wedding date") }}
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.wedding_location.label(class="form-label") }}
            {% if wedding_location %}
            <textarea name="wedding_location" rows="3" class="form-control">{{wedding_location}}</textarea>
            <!-- {{ form.wedding_location(class="form-control", rows="3", placeholder="Enter wedding location", value=wedding_location) }} -->
            {% else %}
            {{ form.wedding_location(class="form-control", rows="3", placeholder="Enter wedding location") }}
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.city_name.label(class="form-label") }}
            {% if city_name %}
            {{ form.city_name(class="form-control", placeholder="Enter city name", value=city_name) }}
            {% else %}
            {{ form.city_name(class="form-control", placeholder="Enter city name") }}
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.location_url.label(class="form-label") }}
            {% if location_url %}
            {{ form.location_url(class="form-control", placeholder="Enter location URL [google maps link]", value=location_url) }}
            {% else %}
            {{ form.location_url(class="form-control", placeholder="Enter location URL [google maps link]") }}
            {% endif %}
        </div>  <br>

        {{ form.submit(class="btn btn-primary btn-block") }}
    </form>

    <div class="form">
    <form method="POST" action="{{url_for('create')}}" enctype="multipart/form-data">
        {{ form2.hidden_tag() }}
        <h2 class="text-center mb-4">Image Section</h2>
        <div class="mb-3">
            {{ form2.groom.label(class="form-label") }}
            {{ form2.groom(class="form-control", accept="image/*", required=true) }}
        </div>
        <div class="mb-3">
            {{ form2.bride.label(class="form-label") }}
            {{ form2.bride(class="form-control", accept="image/*", required=true) }}
        </div>
        {{ form2.submit(class="btn btn-primary") }} <br>
        
        
    </form>
    <br>
        <form method="POST" action="{{ url_for('create') }}">
            {{ form3.hidden_tag() }}
            {{ form3.submit(class="btn btn-danger") }}
        </form>
        <small>Images uploaded: {{images_count}}</small>
    </div>
    
</div>
{% endblock details %}
