{% extends 'header.html' %}

{% block detailscss %}
<style>
    body {
        padding-top: 56px; /* Adjusted for the fixed navbar height */
    }

    .form-container {
        display: flex;
        justify-content: space-between;
        max-width: 800px; /* Adjust as needed */
        margin: 0 auto;
    }

    .form {
        width: 48%; /* Adjust as needed */
    }
</style>
{% endblock detailscss %}

{% block details %}
<h6>YOUR WEDDING ID: {{wedding_id[0]}}</h6>
<h6>YOUR WEBSITE URL: http://{{domain}}/{{userid}}</h6>

<div class="container mt-5 form-container">
    <form method="POST" action="{{ url_for('create') }}" class="form">
        {{ form.csrf_token }}

        <h2 class="text-center mb-4">Wedding Details</h2>

        <div class="form-group">
            {{ form.theme.label(class="form-label") }}
            {{ form.theme(class="form-control") }}
        </div>

        <div class="form-group">
            {{ form.grooms_name.label(class="form-label") }}
            {{ form.grooms_name(class="form-control", placeholder="Enter groom's name") }}
        </div>

        <div class="form-group">
            {{ form.brides_name.label(class="form-label") }}
            {{ form.brides_name(class="form-control", placeholder="Enter bride's name") }}
        </div>

        <div class="form-group">
            {{ form.wedding_date.label(class="form-label") }}
            {{ form.wedding_date(class="form-control datepicker", placeholder="Select wedding date") }}
        </div>

        <div class="form-group">
            {{ form.wedding_location.label(class="form-label") }}
            {{ form.wedding_location(class="form-control", rows="3", placeholder="Enter wedding location") }}
        </div>

        <div class="form-group">
            {{ form.city_name.label(class="form-label") }}
            {{ form.city_name(class="form-control", placeholder="Enter city name") }}
        </div>

        <div class="form-group">
            {{ form.location_url.label(class="form-label") }}
            {{ form.location_url(class="form-control", placeholder="Enter location URL [google maps link]") }}
        </div>

        {{ form.submit(class="btn btn-primary btn-block") }}
    </form>

    <form method="POST" action="" enctype="multipart/form-data" class="form">
        {{ form2.hidden_tag() }}
        <h2 class="text-center mb-4">Image Upload</h2>

        <div class="form-group">
            <label for="{{ form2.groom_image.id }}">Groom's Image</label>
            {{ form2.groom_image(class="form-control", accept=".jpg, .jpeg, .png", required="required") }}
        </div>

        <div class="form-group">
            <label for="{{ form2.bride_image.id }}">Bride's Image</label>
            {{ form2.bride_image(class="form-control", accept=".jpg, .jpeg, .png", required="required") }}
        </div>

        {{ form2.submit(class="btn btn-primary btn-block") }}
    </form>
</div>
{% endblock details %}
