{% extends 'header.html' %}

{% block entries %}
<div class="container mt-4">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Will Attend (Yes/No)</th>
          <th scope="col">No of Guests</th>
          <th scope="col">Note</th>
        </tr>
      </thead>
      <tbody>
        {% for i,j,k,l,m,n in attendies %}
        <tr>
          <td>{{i}}</td>
          <td>{{j}}</td>
          <td>{{k}}</td>
          {% if l == 1 %}
          <td>Yes</td>
          {% else %}
          <td>No</td>
          {% endif %}
          <td>{{m}}</td>
          <td>{{n}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h5>Total Guests: {{total_guests[0]}}</h5>
  </div>
{% endblock entries %}