<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wedding</title>
    
    <link href="https://fonts.googleapis.com/css?family=Alice|Zilla+Slab:400,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='template1/css/styles-merged.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='template1/css/style.min.css')}}" >

    <!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.min.js"></script>
      <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    
    <!-- Fixed navbar -->
     <!-- navbar-fixed-top -->
    <nav class="navbar navbar-default probootstrap-navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html" title="Wedding">{{grooms_name}} <em>&amp;</em> {{brides_name}}</a>
        </div>

        <div id="navbar-collapse" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#" data-nav-section="home">Home</a></li>
            <li><a href="#" data-nav-section="groom-bride">Groom &amp; Bride</a></li>
            <li><a href="#" data-nav-section="when-where">When &amp; Where</a></li>
            <li><a href="#" data-nav-section="gallery">Gallery</a></li>
            <li><a href="#" data-nav-section="rsvp">RSVP</a></li>
          </ul>
        </div>
      </div>
    </nav>
    
    <section class="flexslider" data-section="home">
      <div class="container text-intro-wrap">
        <div class="row">
          <div class="col-md-12 text-center text-intro probootstrap-animate">
            <h1>{{grooms_name}} <em>&amp;</em> {{brides_name}}</h1>
            <h2>Getting Married on {{wedding_date}} &mdash; {{city_name}}</h2>
          </div>
        </div>
      </div>
      <ul class="slides">
        <li style="background-image: url({{url_for('static',filename='template1/img/hero_bg_1.jpg')}})" data></li>
        <li style="background-image: url({{url_for('static',filename='template1/img/hero_bg_2.jpg')}})" data></li>
        <li style="background-image: url({{url_for('static',filename='template1/img/hero_bg_3.jpg')}})" data></li>

      </ul>
    </section>

    <section class="probootstrap-section probootstrap-section-colored probootstrap-wedding-countdown">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center probootstrap-animate"><h4>The Wedding Begins In</h4></div>
          <div class="col-md-12 text-center probootstrap-animate">
                <h2>{{days}} Days {{hours}} Hours {{minutes}} Minutes {{seconds}} Seconds</h2></div>  
        </div>
      </div>
    </section>

    <section class="probootstrap-section probootstrap-bg" data-section="groom-bride">
      <div class="container">
        <div class="row">
          <div class="col-md-12 probootstrap-groom-bride">
            
            <div class="probootstrap-groom probootstrap-animate">
              <figure>
                
                {% if groom_image %}
                <img src="{{url_for('static', filename='uploads/' + wedding_id + '/' + groom_image)}}" alt="groom_image" class="img-responsive">
                {% elif groom_image == False %}
                <img src="{{url_for('static', filename='template1/img/groom_1.jpg')}}" alt="groom_image" class="img-responsive">
                {% endif %}
              </figure>
              <span class="probootstrap-caption">The Groom</span>
              <h2 class="text-center">{{grooms_name}}</h2>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth question ran over her cheek, then she continued her way.</p>
            </div>

            <div class="probootstrap-divider probootstrap-animate"><span>&amp;</span></div>

            <div class="probootstrap-bride probootstrap-animate">
              <figure>
                {% if bride_image %}
                <img src="{{url_for('static', filename='uploads/' + wedding_id + '/' + bride_image)}}" alt="bride_image" class="img-responsive">
                {% elif bride_image == False %}
                <img src="{{url_for('static', filename='template1/img/bride_1.jpg')}}" alt="change_this_later" class="img-responsive">
                {% endif %}
              </figure>
              <span class="probootstrap-caption">The Bride</span>
              <h2 class="text-center">{{brides_name}}</h2>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
    <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
            </div>

          </div>
        </div>
      </div>
    </section>

    <div class="probootstrap-section probootstrap-section-colored" data-section="when-where">
      <div class="container">
        <div class="row mb40 text-center">
          <div class="col-md-12 probootstrap-animate"><h2 class="mt0">When &amp; Where</h2></div>
          {{wedding_location}}
        </div>

      </div>
    </div>

      <center>
        <br><br>
        <a href="{{location_url}}" target="_blank"><button class="btn btn-primary btn-lg">View Location on Google Maps</button></a>
      </center>
        
    <section class="probootstrap-section" data-section="gallery">
      <div class="container">
        <div class="row mb40 probootstrap-animate">
          <div class="col-md-12 text-center"><h2>Gallery</h2></div>
        </div>

        <div class="row probootstrap-gutter30">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="row probootstrap-gutter30">
              <div class="col-md-6 probootstrap-animate">
                <a class="probootstrap-image image-popup" href="{{url_for('static', filename='template1/img/img_3.jpg')}}" style="background-image: url({{url_for('static', filename='template1/img/img_3.jpg')}})">
                  <div class="probootstrap-image-for-popup"><img src="{{url_for('static', filename='template1/img/img_3.jpg')}}" alt="change_this_later" class="img-responsive"></div>
                </a>
              </div>
              <div class="col-md-6 probootstrap-animate">
                <a class="probootstrap-image image-popup" href="{{url_for('static', filename='template1/img/img_2.jpg')}}" style="background-image: url({{url_for('static', filename='template1/img/img_2.jpg')}})">
                  <div class="probootstrap-image-for-popup"><img src="{{url_for('static', filename='template1/img/img_2.jpg')}}" alt="change_this_later" class="img-responsive"></div>
                </a>
              </div>
            </div>
            <div class="row probootstrap-gutter30">
              <div class="col-md-12 probootstrap-animate">
                <a class="probootstrap-image image-popup" href="{{url_for('static', filename='template1/img/img_1.jpg')}}" style="background-image: url({{url_for('static', filename='template1/img/img_1.jpg')}})">
                  <div class="probootstrap-image-for-popup"><img src="{{url_for('static', filename='template1/img/img_1.jpg')}}" alt="change_this_later" class="img-responsive"></div>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="row probootstrap-gutter30">
              <div class="col-md-6">
                <div class="row probootstrap-gutter30">
                  <div class="col-md-12 probootstrap-animate">
                    <a class="probootstrap-image image-popup" href="{{url_for('static', filename='template1/img/img_4.jpg')}}" style="background-image: url({{url_for('static', filename='template1/img/img_4.jpg')}})">
                      <div class="probootstrap-image-for-popup"><img src="{{url_for('static', filename='template1/img/img_4.jpg')}}" alt="change_this_later" class="img-responsive"></div>
                    </a>
                  </div>
                  <div class="col-md-12 probootstrap-animate">
                    <a class="probootstrap-image image-popup" href="{{url_for('static', filename='template1/img/img_5.jpg')}}" style="background-image: url({{url_for('static', filename='template1/img/img_5.jpg')}})">
                      <div class="probootstrap-image-for-popup"><img src="{{url_for('static', filename='template1/img/img_5.jpg')}}" alt="change_this_later" class="img-responsive"></div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 probootstrap-animate">
                <a class="probootstrap-image  height-2x image-popup" href="{{url_for('static', filename='template1/img/img_6.jpg')}}" style="background-image: url({{url_for('static', filename='template1/img/img_6.jpg')}})">
                  <div class="probootstrap-image-for-popup"><img src="{{url_for('static', filename='template1/img/img_6.jpg')}}" alt="change_this_later" class="img-responsive"></div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- END row -->

        <div class="row probootstrap-gutter30">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="row probootstrap-gutter30">
              <div class="col-md-6">
                <div class="row probootstrap-gutter30">
                  <div class="col-md-12 probootstrap-animate">
                    <a class="probootstrap-image image-popup" href="{{url_for('static', filename='template1/img/img_1.jpg')}}" style="background-image: url({{url_for('static', filename='template1/img/img_1.jpg')}})">
                      <div class="probootstrap-image-for-popup"><img src="{{url_for('static', filename='template1/img/img_1.jpg')}}" alt="change_this_later" class="img-responsive"></div>
                    </a>
                  </div>
                  <div class="col-md-12 probootstrap-animate">
                    <a class="probootstrap-image image-popup" href="{{url_for('static', filename='template1/img/img_2.jpg')}}" style="background-image: url({{url_for('static', filename='template1/img/img_2.jpg')}})">
                      <div class="probootstrap-image-for-popup"><img src="{{url_for('static', filename='template1/img/img_2.jpg')}}" alt="change_this_later" class="img-responsive"></div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 probootstrap-animate">
                <a class="probootstrap-image  height-2x image-popup" href="{{url_for('static', filename='template1/img/img_3.jpg')}}" style="background-image: url({{url_for('static', filename='template1/img/img_3.jpg')}})">
                  <div class="probootstrap-image-for-popup"><img src="{{url_for('static', filename='template1/img/img_3.jpg')}}" alt="change_this_later" class="img-responsive"></div>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="row probootstrap-gutter30">
              <div class="col-md-6 probootstrap-animate">
                <a class="probootstrap-image image-popup" href="{{url_for('static', filename='template1/img/img_4.jpg')}}" style="background-image: url({{url_for('static', filename='template1/img/img_4.jpg')}})">
                  <div class="probootstrap-image-for-popup"><img src="{{url_for('static', filename='template1/img/img_4.jpg')}}" alt="change_this_later" class="img-responsive"></div>
                </a>
              </div>
              <div class="col-md-6 probootstrap-animate">
                <a class="probootstrap-image image-popup" href="{{url_for('static', filename='template1/img/img_5.jpg')}}" style="background-image: url({{url_for('static', filename='template1/img/img_5.jpg')}})">
                  <div class="probootstrap-image-for-popup"><img src="{{url_for('static', filename='template1/img/img_5.jpg')}}" alt="change_this_later" class="img-responsive"></div>
                </a>
              </div>
            </div>
            <div class="row probootstrap-gutter30">
              <div class="col-md-12 probootstrap-animate">
                <a class="probootstrap-image image-popup" href="{{url_for('static', filename='template1/img/img_6.jpg')}}" style="background-image: url({{url_for('static', filename='template1/img/img_6.jpg')}})">
                  <div class="probootstrap-image-for-popup"><img src="{{url_for('static', filename='template1/img/img_6.jpg')}}" alt="change_this_later" class="img-responsive"></div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- END row -->
      </div>
    </section>

    <section class="probootstrap-section probootstrap-border-top" data-section="rsvp">
      <div class="container">
        <div class="row mb40">
          <div class="col-md-12 text-center">
            <h2 class="mt0 mb10 probootstrap-animate">Will you attend?</h2>
            <p>Please sign your RSVP</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="probootstrap-card probootstrap-animate">
              <form class="probootstrap-form" method="POST" action="{{ url_for('reservation') }}">
                {{ form.csrf_token }}
                
                <div class="form-group">
                    <label for="{{ form.wedding_id.id }}">Wedding ID</label>
                    {{ form.wedding_id(class="form-control" ,placeholder="Ask wedding organiser for id") }}
                </div>
            
                <div class="form-group">
                    <label for="{{ form.name.id }}">Your Name</label>
                    {{ form.name(class="form-control") }}
                </div>
            
                <div class="form-group">
                    <label for="{{ form.email.id }}">Your Email</label>
                    {{ form.email(class="form-control") }}
                </div>
            
                <div class="form-group">
                    <label for="{{ form.phone.id }}">Your Phone No.</label>
                    {{ form.phone(class="form-control") }}
                </div>
            
                <div class="form-group">
                    <label for="{{ form.will_attend.id }}"> Will you attend?</label>
                      {{ form.will_attend(value="1") }}
                </div>
            
                <div class="form-group">
                    <label for="{{ form.note.id }}">Note</label>
                    {{ form.note(class="form-control") }}
                </div>
            
                <div class="form-group">
                    {{ form.submit(class="btn btn-primary btn-lg") }}
                </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- <section class="probootstrap-section probootstrap-section-colored-darker">
      <div class="container text-center">
        <div class="row">
          <div class="col-md-12 probootstrap-animate"><h2 class="mt0">Register</h2></div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12 probootstrap-animate">
            <a href="#" class="btn-register"><img src="img/bbab.png" alt="change_this_later" class="img-responsive"></a>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 probootstrap-animate">
            <a href="#" class="btn-register"><img src="img/cnb.png" alt="change_this_later" class="img-responsive"></a>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 probootstrap-animate">
            <a href="#" class="btn-register"><img src="img/amazon.png" alt="change_this_later" class="img-responsive"></a>
          </div>
        </div>
      </div>
    </section> -->



    
    <script src="{{url_for('static', filename='template1/js/scripts.min.js')}}"></script>
    <script src="{{url_for('static', filename='template1/js/custom.min.js')}}"></script>



  </body>
</html>